@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=VT323&display=swap');
:root{
    --cor-primaria: #000;
    --cor-secundaria: white;
    --cor-tercearia: blueviolet;
    --cor-quaternario: blue;
    --cor-quinario:#272727;

    --fonte-principal:'VT323', monospace;
}


*{
    margin: 0;
    padding: 0;
}
body {
    color:var(--cor-secundaria);
    background-color:var(--cor-primaria);
    /*height: 100vh;*/ 
    box-sizing: border-box;
}
.cabecalho__menu{
    display:flex;
    gap: 80px;
    padding: 0%;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu__link{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--cor-tercearia);
    text-decoration: none;
}
.Destaque-Título{
    color: var(--cor-quaternario);
}
.apresentacao {
    padding: 5% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family:var(--fonte-principal);
    color: var(--cor-tercearia);
    justify-content: center;
}
.apresentacao__links{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px; 
}
.apresentacao__links__subtitulo{
font-family:var(--fonte-principal);
font-weight: 400;
font-size: 1.5rem;
}
.apresentacao__links__botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color:var(--cor-secundaria);
    font-family: var(--fonte-principal);
    border: 2px solid;
}
.apresentacao__links__botao:hover{
    background-color: var(--cor-quinario);
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
    color:var(--cor-secundaria);
    text-align: center;
    background-color:var(--cor-tercearia);
    padding: 24px;
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 400;   
}

@media (max-width:1200px) {
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}







